{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    讲师列表 - 慕学在线网
{% endblock %}

{% block custom_body %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/share.css' %}">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-weight: bold;font-size: 20px;">分享至邮箱</h4>
                </div>
                <div class="modal-body" style="font-size: 16px;">
                    请输入要分享的邮箱:&nbsp;&nbsp;<input type="email" name="email" id="modal-email" style="height: 24px;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn5 btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn5 btn-primary" id="shareBtn">分享</button>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="wp">
            <ul class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>课程讲师</li>
            </ul>
        </div>
    </section>
    <section>
        <div class="wp butler_list_box list">
            <div class='left'>
                <div class="butler_list layout">
                    <div class="head">
                        <ul class="fl tab_header">
                            <li class="{% ifequal sort '' %}active{% endifequal %}"><a href="?sort=">全部</a></li>
                            <li class="{% ifequal sort 'hot' %}active{% endifequal %}"><a href="?sort=hot">人气
                                &#8595;</a></li>
                        </ul>
                        <div class="fr butler-num">共<span class="key">{{ teacher_num }}</span>人&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    {% for teacher in all_teacher.object_list %}
                        <dl class="des">
                            <dt>
                                <a href="{% url 'organization:teacher_detail' teacher.id %}">
                                    <div class="picpic">
                                        <img width="100" height="100" class="scrollLoading"
                                             src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                                    </div>
                                </a>

                                <div class="btn">
                                    <div class="fr btn2 bdsharebuttonbox">
                                        <span class="fl">分享</span>
                                        <a href="#" class="bds_more" data-toggle="modal" id="teacher-id"
                                           data-target="#myModal" data-value="{{ teacher.id }}"></a>

                                    </div>

                                </div>
                            </dt>
                            <dd>
                                <a href="{% url 'organization:teacher_detail' teacher.id %}">
                                    <h1>{{ teacher.name }}<span class="key picbig">金牌讲师</span></h1>
                                </a>
                                <ul class="cont">
                                    <li>工作年限：<span>{{ teacher.work_years }}年</span></li>
                                    <li>教学特点：<span>{{ teacher.points }}</span></li>
                                </ul>
                            </dd>
                            <a class="buy buyservice"
                               href="{% url 'organization:teacher_detail' teacher.id %}"><br/>查看<br/>详情</a>
                        </dl>
                    {% endfor %}

                </div>
                <div class="pageturn">
                    <ul>
                        {% if all_teacher.has_previous %}
                            <li class="long"><a href="?{{ all_teacher.previous_page_number.querystring }}">上一页</a></li>
                        {% endif %}

                        {% for page in all_teacher.pages %}
                            {% if page %}
                                {% ifequal page all_teacher.number %}
                                    <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                {% else %}
                                    <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                {% endifequal %}
                            {% else %}
                                <li class="none"><a href="">...</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if all_teacher.has_next %}
                            <li class="long"><a href="?{{ all_teacher.next_page_number.querystring }}">下一页</a></li>

                        {% endif %}

                    </ul>
                </div>
            </div>
            <div class="right layout">
                <div class="head">讲师排行榜</div>
                {% for teacher in hot_teacher %}
                    <dl class="des">
                        <span class="num fl">{{ forloop.counter }}</span>
                        <a href="{% url 'organization:teacher_detail' teacher.id %}">
                            <dt>
                                <img width="50" height="50" class="scrollLoading"
                                     src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                            </dt>
                        </a>
                        <dd>
                            <a href="{% url 'organization:teacher_detail' teacher.id %}">
                                <h1 title="bobby">{{ teacher.name }}</h1>
                            </a>
                            <p>工作年限：<span>{{ teacher.work_years }}年</span></p>
                        </dd>
                    </dl>
                {% endfor %}
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script>
        //添加评论
        $(document).ready(function () {
            $("#shareBtn").on('click', function () {
                let info = $("#teacher-id").attr("data-value");
                let email = $("#modal-email").val();
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'organization:share' %}",
                    data: {"info": info, "email": email},
                    async: true,
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                        if (data.status === 'fail') {
                            alert(data.msg)
                        } else if (data.status === 'success') {
                            alert(data.msg);
                            window.location.reload();//刷新当前页面.
                        }
                    },
                });
            });
        });
    </script>

{% endblock %}
